html,
body {
  height: 100%;
}
body {
  min-width: 1200px;
}
* {
  box-sizing: border-box;
}
.header_box {
  height: 60px;
  line-height: 60px;
  background-color: #2f3133;
}
.header_box .header {
  width: 1200px;
  margin: 0 auto;
}
.header_box .header .title {
  display: none;
}
.header_box .header .nav {
  height: 100%;
  overflow: hidden;
}
.header_box .header .nav a {
  height: 100%;
  color: #fff;
  line-height: 60px;
  font-size: 16px;
}
.header_box .header .nav a.active {
  color: #fdd108;
}
.content {
  width: 100%;
  min-height: calc(100% - 280px);
}
.content .advert {
  width: 100%;
  height: 600px;
  text-align: center;
  background: url("/res/static/images/banner_bg.png") no-repeat top;
}
.content .advert .box {
  padding-top: 10px;
  margin-top: 47px;
  display: inline-block;
  width: 1200px;
}
.content .advert .box .left {
  padding: 90px 120px 0 70px;
}
.content .advert .box .left p {
  float: left;
  font-size: 20px;
  color: #fff;
  text-align: left;
}
.content .advert .box .left p.text {
  margin: 30px 0;
}
.content .advert .box .left p.btn {
  cursor: pointer;
}
.content .advert .box .right {
  padding-right: 90px;
}
.content .wapper1 {
  background: #fff;
}
.content .wapper1 .box {
  width: 1200px;
  margin: 0 auto;
  height: 480px;
  padding-top: 50px;
}
.content .wapper1 .box .top {
  height: 66px;
  line-height: 66px;
  text-align: center;
  color: #2f3133;
  font-size: 30px;
}
.content .wapper1 .box .top span {
  display: inline-block;
  border-bottom: 2px solid #FDD108;
}
.content .wapper1 .box .mid {
  margin-top: 100px;
  height: 314px;
}
.content .wapper1 .box .mid p {
  text-align: center;
}
.content .wapper1 .box .mid p.label {
  font-size: 18px;
  color: #2f3133;
  margin: 10px 0;
}
.content .wapper1 .box .mid p.text {
  font-size: 16px;
  color: #5e5752;
}
.content .wapper4 {
  background: url("/res/static/images/wapper4_bg.png") no-repeat top;
}
.content .wapper4 .box {
  height: 400px;
  padding-top: 20px;
}
.content .wapper4 .box .top {
  color: #fff !important;
}
.content .wapper4 .box .mid {
  margin-top: 80px;
  height: 234px;
}
.content .wapper4 .box .mid .label {
  color: #fff !important;
}
.content .wapper2 {
  background: #FFFCF9;
}
.content .wapper2 .box {
  margin: 0 auto;
  width: 1200px;
  height: 400px;
}
.content .wapper2 .box .layui-row {
  height: 100%;
}
.content .wapper2 .box .layui-row > div {
  height: 100%;
}
.content .wapper2 .box .layui-row .layui-col-md7 .label {
  margin: 150px 0 30px;
  font-size: 30px;
  color: #47423e;
}
.content .wapper2 .box .layui-row .layui-col-md7 .text {
  font-size: 20px;
  color: #5e5752;
}
.content .wapper2 .box .layui-row .layui-col-md5 {
  vertical-align: bottom;
  position: relative;
}
.content .wapper2 .box .layui-row .layui-col-md5 img {
  position: absolute;
  bottom: 0;
}
.content .wapper3 {
  background: url("/res/static/images/tanchuang_bg.png") 1160px;
}
.content .wapper3 .box {
  margin: 0 auto;
  width: 1200px;
  height: 400px;
}
.content .wapper3 .box .layui-row {
  height: 100%;
}
.content .wapper3 .box .layui-row > div {
  height: 100%;
}
.content .wapper3 .box .layui-row .layui-col-md5 .label {
  margin: 150px 0 30px;
  font-size: 30px;
  color: #47423e;
}
.content .wapper3 .box .layui-row .layui-col-md5 .text {
  font-size: 20px;
  color: #5e5752;
}
.content .wapper3 .box .layui-row .layui-col-md7 {
  vertical-align: bottom;
  position: relative;
}
.content .wapper3 .box .layui-row .layui-col-md7 img {
  position: absolute;
  bottom: 0;
}
.content .wapper5 {
  background: #fff;
}
.content .wapper6 {
  background: #FFFCF9;
}
.content .wapper7 {
  background: url("/res/static/images/tanchuang_bg.png") 1160px;
}
.content .wapper8 {
  background: url("/res/static/images/content_banner.png") no-repeat top;
}
.content .wapper8 .box {
  width: 1200px;
  margin: 0 auto;
  height: 300px;
  text-align: center;
}
.content .wapper8 .box p {
  width: 258px;
  height: 60px;
  line-height: 60px;
  background-color: #FDD108;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  text-align: center;
  margin: 180px auto 0;
  display: inline-block;
  color: #2f3133;
  font-size: 20px;
}
.content .wapper9 {
  padding: 48px 0;
  background: #23221F;
  font-size: 14px;
}
.content .wapper9 .box {
  width: 1200px;
  margin: 0 auto;
  line-height: 36px;
}
.content .wapper9 .box a {
  color: #fff;
}
.content .banner {
  height: 400px;
  background: url("/res/static/images/news_banner.png") no-repeat top;
}
.content .newList {
  background: #fff;
  min-height: 300px;
}
.content .newList .item {
  width: 1200px;
  margin: 0 auto;
  height: 244px;
  padding: 44px 0;
  border-bottom: 1px solid #e6e6e6;
}
.content .newList .item img {
  width: 244px;
  height: 162px;
  border: 1px solid #ccc;
}
.content .newList .item p {
  margin-bottom: 5px;
}
.content .newList .item .label {
  font-size: 20px;
  color: #333333;
}
.content .newList .item .text {
  font-size: 14px;
  color: #333333;
  height: 63px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .newList .item .date {
  font-size: 12px;
  color: #666666;
}
.content .newList .item .btn {
  width: 112px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 4px;
  background: #FDD108;
  text-align: center;
  color: #333;
  cursor: pointer;
}
.content .newList .item:last-child {
  border: none;
  margin-bottom: 0;
}
.content .about_banner {
  background: url("/res/static/images/about_banner.png") no-repeat top;
}
.content .about_banner .box {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  padding-top: 100px;
}
.content .about_banner .box .label {
  font-size: 40px;
  color: #fff;
}
.content .about_banner .box .text {
  margin-top: 50px;
  font-size: 18px;
  color: #fff;
}
.content .detail {
  width: 1200px;
  margin: 0 auto;
  padding: 80px 0 200px;
}
.content .detail .layui-col-md6 p {
  text-align: left;
  font-size: 16px;
}
.content .detail .layui-col-md6 p.title {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;
}
.content .detail .layui-col-md6 div:first-child {
  margin: 40px 0 100px;
}
.content .detail_h5 {
  display: none;
}
.content .up {
  display: none;
}
.mobil {
  display: none;
}
.footer {
  height: 220px;
  background: #23221F;
  color: #fff;
  padding-top: 27px;
}
.footer .logo {
  margin: 0px auto 47px;
}
.footer .text {
  font-size: 14px;
  margin-top: 10px;
}
.footer .text1 {
  display: none;
}
.footer .text2 {
  display: block;
}
.layui-layer-shade {
  overflow: hidden;
}
.layui-layer-page {
  width: 660px !important;
  height: 480px;
}
.layui-layer-page .layui-layer-title {
  display: none;
}
.layui-layer-page .layui-layer-setwin a {
  display: inline-block;
  border: 1px solid #B0B0B0;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  color: #B0B0B0;
  font-size: 19px;
  height: 20px;
  line-height: 20px;
  background-position: 4px -37px;
}
#scan {
  padding-top: 75px;
  text-align: center;
  background: url("/res/static/images/dialog.png") 110px;
  display: none;
}
#scan .text {
  font-size: 18px;
}
#scan .photo img {
  width: 210px;
  height: 215px;
}
@keyframes toBottom {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
@media only screen and (max-width: 768px) {
  body {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
    padding-top: 60px;
  }
  .header_box {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 99;
  }
  .header_box .header {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .header_box .header .title {
    display: inline-block;
    font-size: 18px;
    color: #333;
  }
  .header_box .header .logo {
    display: none;
  }
  .header_box .header .app-header .app-header-menuicon {
    height: 60px;
    right: 0;
  }
  .header_box .header .app-header .app-header-menuicon img {
    width: 20px;
    height: 15px;
  }
  .header_box .header .layui-nav {
    width: 166px;
    background: url(/res/static/images/menu_bg.png) no-repeat;
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 30px;
    padding: 0;
    right: 16px;
    padding-top: 22px;
    height: 200px;
  }
  .header_box .header .layui-nav li {
    display: block;
    font-size: 12px;
    text-align: left;
    padding: 0 32px;
    height: unset;
    line-height: normal;
  }
  .header_box .header .layui-nav li a {
    height: 54px;
    line-height: 54px;
    color: #666;
    padding: 0;
  }
  .header_box .header .layui-nav li a.active {
    color: #f6d348;
  }
  .mobil {
    display: block;
    height: 100%;
  }
  .mobil > div {
    height: 100%;
  }
  .mobil .arrow-btn {
    position: absolute;
    bottom: 0.26666667rem;
    left: 50%;
    z-index: 1000;
  }
  .mobil .arrow-btn i {
    display: block;
    width: 11px;
    height: 6px;
    position: relative;
  }
  .mobil .arrow-btn i.arrow1 {
    background: url(/res/static/images/arrow1.png) no-repeat center center;
    background-size: cover;
    animation: toBottom 1s infinite;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .mobil .arrow-btn i.arrow2 {
    background: url(/res/static/images/arrow2.png) no-repeat center center;
    background-size: cover;
    top: -1px;
    animation: toBottom 1s infinite;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .mobil .arrow-btn i.arrow3 {
    background: url(/res/static/images/arrow3.png) no-repeat center center;
    background-size: cover;
    top: -1px;
    animation: toBottom 1s infinite;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .mobil .arrow-btn i.arrow4 {
    background: url(/res/static/images/arrow4.png) no-repeat center center;
    background-size: cover;
    top: -1px;
    animation: toBottom 1s infinite;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .mobil .arrow-btn i.arrow5 {
    background: url(/res/static/images/arrow5.png) no-repeat center center;
    background-size: cover;
    top: -1px;
    animation: toBottom 1s infinite;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .mobil .arrow-btn i.arrow6 {
    background: url(/res/static/images/arrow6.png) no-repeat center center;
    background-size: cover;
    top: -1px;
    animation: toBottom 1s infinite;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .mobil .mobil1 {
    background: url("/res/static/images/banner_bg_h5.png") no-repeat;
    background-size: 100% 100%;
  }
  .mobil .mobil1 .logo {
    text-align: center;
    padding: 30px 0 10px;
  }
  .mobil .mobil1 .logo img {
    width: 60%;
  }
  .mobil .mobil1 .text {
    padding: 0 24px;
    text-align: left;
    font-size: 14px;
    color: #fff;
  }
  .mobil .mobil1 .phone {
    margin-top: 24px;
    height: calc(100% - 210px);
    text-align: center;
  }
  .mobil .mobil1 .phone img {
    height: 100%;
  }
  .mobil .mobil2 {
    text-align: center;
    border-top: 1px solid #ccc;
  }
  .mobil .mobil2 .top {
    font-size: 25px;
    color: #333;
    padding: 15px 0 10px;
  }
  .mobil .mobil2 .text {
    font-size: 16px;
    color: #666;
    padding: 0 24px;
  }
  .mobil .mobil2 .text .red {
    color: #ff4e4c;
  }
  .mobil .mobil2 .phone {
    margin: 15px 0 10px;
    height: calc(100% - 220px);
  }
  .mobil .mobil2 .phone img {
    height: 100%;
  }
  .mobil .mobil2 .btn a {
    display: inline-block;
    width: 235px;
    height: 48px;
    border-radius: 24px;
    color: #2f3133;
    font-size: 18px;
    line-height: 48px;
    background: #fdd108;
    text-align: center;
  }
  .mobil .mobil4 {
    background: url("/res/static/images/banner_bg2_h5.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
  }
  .mobil .mobil4 .top {
    font-size: 25px;
    color: #fff;
    padding: 30px 0 20px;
  }
  .mobil .mobil4 .items {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .mobil .mobil4 .items > div {
    width: 40% ;
    font-size: 12px;
    color: #fff;
  }
  .mobil .mobil4 .items > div img {
    width: 40px;
    height: 40px;
  }
  .mobil .mobil4 .phone {
    margin: 30px 0 30px;
    height: calc(100% - 280px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobil .mobil4 .phone img {
    width: 100%;
  }
  .mobil .mobil4 .btn {
    margin-top: 10px;
  }
  .mobil .mobil4 .btn a {
    display: inline-block;
    width: 235px;
    height: 48px;
    border-radius: 24px;
    color: #2f3133;
    font-size: 18px;
    line-height: 48px;
    background: #fdd108;
    text-align: center;
  }
  .content .banner {
    background: url("/res/static/images/newBanner_h5.png") no-repeat;
    background-size: 100% 100%;
    height: 150px;
    width: 100%;
  }
  .content .newList {
    padding: 0 12px;
  }
  .content .newList .item {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .content .newList .item .layui-col-md9 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .content .newList .item .layui-col-md9 p {
    margin: 0px;
  }
  .content .newList .item .label {
    font-size: 16px;
    color: #333;
  }
  .content .newList .item .text,
  .content .newList .item .btn {
    display: none;
  }
  .content .newList .item img {
    width: 122px;
    height: 80px;
  }
  .content .about_banner {
    background: url("/res/static/images/aboutBanner_h5.png") no-repeat;
    background-size: 100% 100%;
    height: 150px;
  }
  .content .about_banner .box {
    display: none;
  }
  .content .detail {
    display: none;
  }
  .content .detail_h5 {
    display: block;
  }
  .content .detail_h5 .item {
    padding: 0 12px 20px;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
  }
  .content .detail_h5 .item .label {
    line-height: 40px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  .content .detail_h5 .item .label em {
    display: inline-block;
    width: 4px;
    height: 16px;
    background: #fdd108;
    margin-right: 10px;
    vertical-align: text-bottom;
  }
  .content .detail_h5 .item .text {
    font-size: 12px;
    color: #333;
  }
  .content .detail_h5 .item:last-child {
    border-bottom: none;
  }
  .content .detail_h5 .item1 {
    padding: 50px 0;
    text-align: center;
  }
  .content .detail_h5 .item1 img {
    width: 262px;
    height: 175px;
  }
  .footer {
    height: unset;
  }
  .footer .logo {
    margin-bottom: 35px;
  }
  .footer .text2 {
    display: none;
  }
  .footer .text1 {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */